[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
[submodule "themes/themes/hugo-universal-theme"]
	path = themes/themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
